{% extends 'blog/base.html' %}

{% block content %}
    {% if messages %}
    <div class="messages" style="margin:150px 0px 300px 0px;color:red;">
        <center>
            {% for message in messages %}
            <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
            {% endfor %}
        </center>
    </div>
    {% endif %}
    {% for post in object_list %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    {% include "blog/pagination.html"%}
{% endblock %}